# Dependencies
node_modules
.pnp
.pnp.js

# Testing
coverage

# Next.js
.next/
out/

# Production
build

# Misc
.DS_Store
.parcel-cache
.turbo

.pnpm-store
.pnpm-store/

env
.env
.env.development
.env.production
.env.local
.env.example

dist
